certifi
chardet
coreapi
coreschema
diff-match-patch
Django
django-cors-headers
django-crispy-forms
django-filter
django-formtools
django-guardian
django-import-export
django-reversion
djangorestframework
djangorestframework-jwt
et-xmlfile
future
httplib2
idna
itypes
jdcal
Jinja2
Markdown
MarkupSafe
mysqlclient
odfpy
openpyxl
Pillow
PyJWT
pytz
PyYAML
requests
six
tablib
unicodecsv
uritemplate
urllib3
xlrd
XlsxWriter
xlwt
